
.misfavoritos {
    /* border: 1px solid blue; */
    display: flex;
    width: 600px;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #F2E7D5; 
    height: 800px;
    justify-content: center;
    margin-top: 60px;
}

.cardfavoritos {
    width: 500px;
    height: 700px;
    overflow: auto;
    margin-top: 30px;
}

@media only screen and (max-width : 900px) {

    .misfavoritos {
        width: 300px;
        margin-left: 1px;
        height: 500px;
        overflow: auto;
    }

    .cardfavoritos {
        width: 200px;
    }

}