.grafica {
/*     
    padding-left: 550px;
    padding-top: 50px;
   */
   position: absolute; 
   width: 1000px;
   margin-top: -300px;
   margin-left: 400px;
   background-color: white;
}

.title {
    text-align: center;
    background-color: pink;
}