.botonesvalidacion {
    align-self: center;
    background-color: rgba(241, 9, 9, 0.734);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #f0e5dc;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 47px;
    margin-left: 4px; 
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Viga', sans-serif;
    /* border: 1px solid red; */
  }
  
  .botonesvalidacion:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    /* border: 1px solid blue; */
  }
  
  .botonesvalidacion:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    /* border: 1px solid green; */
  }

  .titulo {
    margin-top: 200px;
  }
